<a href="https://colab.research.google.com/github/skevin-dev/Machine_Learning-Zoomcamp/blob/Week1/ML_zoomcamp_w1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import statistics as st

## Question 1

In [2]:
pd.__version__

'1.5.3'

## Question 2

###### the dataset was downloaded manually

In [3]:
df = pd.read_csv('data.csv')

In [4]:
print(f'the number of columns in the dataset is {df.shape[1]}')

the number of columns in the dataset is 10

In [26]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

## Question 3

In [10]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4

In [15]:
print('the unique values in ocean proximity column are {}'.format(len(list(df['ocean_proximity'].unique()))))

the unique values in ocean proximity column are 5

## Question 5

In [21]:
print('the average value of the median house value for the houses located near the bay is {}'.format(df[df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()))

the average value of the median house value for the houses located near the bay is 259212.31179039303

## Question 6

In [45]:
print('the average of total bedrooms column in the dataset is {}'.format(df['total_bedrooms'].mean()))

df.fillna(df['total_bedrooms'].mean(),inplace=True)

print('Filled nan values')

print('the average of total bedrooms column in the dataset after filling nan is {}'.format(df['total_bedrooms'].mean()))

the average of total bedrooms column in the dataset is 537.8705525375617
Filled nan values
the average of total bedrooms column in the dataset after filling nan is 537.8705525375617

#### Nothing changed

### there is no change

## Question 7

In [28]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [29]:
df_island = df[df['ocean_proximity']=='ISLAND'][['housing_median_age','total_rooms','total_bedrooms']]

In [31]:
X = df_island.values

In [32]:
XTX = X.T @ X

In [33]:
inverse_XTX = np.linalg.inv(XTX)

In [34]:
y = [950,1300,800,1000,1300]

In [35]:
inverse_XTX_X  = inverse_XTX @ X.T

In [36]:
w = inverse_XTX_X @ y

In [37]:
w

array([23.12330961, -1.48124183,  5.69922946])

In [43]:
print('the last value of w is {}'.format(round(w[-1:][0],4)))

the last value of w is 5.6992